<div>
  <h4>HTML5 Boilerplate {{home.hello}} {{hello}}</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>
  <div id="spin" />
  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
<div class="container-fluid">
  <div class="row show-grid">
    <div class="col-xs-6">.col-md-6</div>
    <div class="col-xs-6">.col-md-6</div>
  </div>
</div>